/* Keep in mind this is my first time using CSS so stuff could be 
a bit more efficient and this is highly experimental.*/

@font-face {
    font-family: "Lato-Regular";
    src: url(fonts/Lato/Lato-Regular.ttf);
}

/*Background content*/
body{
    font-family: "Lato-regular", "consolas", "sans-serif";
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image:url(images/G1Bjkc.jpg);
    height:fit-content;
    overflow-x: hidden;
    overflow-y:auto;
    text-align: center;
}
.avatar{
    vertical-align: middle;
    height: 100%;
    width: 10%;
    border-radius: 100%;
    border-style:solid;
}

/*Nav bar*/
#header ul{
    margin: -10px;
    list-style-type:none;
    padding: 5px;
    overflow: hidden;
    background-color: #444444;
}
li a{
float: left;
display: block;
color: white;
padding: 10px 15px;
text-decoration: none;
}
a:hover{
    color: rgb(105, 245, 255);
    transition:0.5s;
}
a.active{
    color:#88b1ff;
}

/*Text Content*/
p{
 word-wrap: break-word;
}